.searchListContainer {
    display: flex;
    flex: 1;
    height: 500px;
    flex-direction: column;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
     margin-right: 10px;
    background-color: #fff;


}

@media(max-width: 790px) { 
    .searchListContainer {
         margin-right: 0px;
    }
}

.searchTitle {
    text-align: 'center';
    font-family: Helvetica, Arial;
    font-weight: bold;
    line-height: 1.5;
     border-bottom: 4px solid #000;
     margin-right: 4px;
     text-align: center;
}