.searchItemContainer {
    height: 100px;
    background-color: #008060; 
    margin: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-radius: 4px;
    
}

.posterStyle {
    width: 57px;
    height: 74px;
    margin: 4px;
}

.titleContainer {
    width: 200px;

}

.title{
    font-family:  Helvetica, sans-serif;
    font-weight: 700;
}

.buttonStyle {
    width: 94px;
    height: 46px; 
    color: #fff;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    cursor: pointer;
    border-color: transparent;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,0.15);
    background-color: #212326;
    font-weight: 700;
    font-size: 1em;  
}

