.nominationContainer {
    display: flex;
    width: 250px;
    height: 280px;
    flex-direction: column;
    border-style: solid;    
    border-width: 1px;
    border-color: #212326;
    margin: 5px;
    border-radius: 3px;
}


.posterContiner {
    display: flex;
    flex: 2;
    justify-content: center;

}

.poster {
    width: 130px;
    height: 130px;
}
.nominationTitle {
    margin-left: 4px;
}

.buttonContainer {
    display: flex;
    flex: 1; 
    align-items: center;
    justify-content: center;
}

.buttonStyle {
     width: 100px;
    height: 35px; 
    color: #fff;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    cursor: pointer;
    border-color: transparent;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,0.15);
    background-color: #212326;
    font-weight: 700;
    font-size: 1em;  
}

.buttonStyle:hover {
    background-color: #008060;
}

.titleContainer {
    flex:1;
   /* margin-top: 0px; */
    max-height: 100px; 
    text-align: center;
    white-space: pre-wrap; 
     word-wrap: break-word;
}




