.searchContainer {
    height: 120px;
    background-color: #fff;
}

.formStyle {
    display: flex;
    height: 100px;
    /* align-items: center; */
    justify-content: center;
    align-items: center;
    
}

.textInput {
    width: 600px;
    margin: 5px;
}

.buttonStyle {
    width: 100px;
    height: 56px; 
    margin: 10px;
    color: #fff;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,0.15);
    background-color: #008060;
    font-weight: 700;
    font-size: 1em;  
    /* padding: 0px;
    margin: 0px;
    border: 0px; */
}
.buttonStyle:hover {
    text-decoration: none;
    background-color:#108043;

}