.searchContainer {
    height: 120px;
    background-color: #fff;
}

@media (max-width: 790px) {
    .searchContainer {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}



.formStyle {
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
    
}

@media (max-width: 790px) {
     .formStyle {
         flex-direction: column;
     }
     
}

.textInput {
    width: 600px;
    margin: 5px;
    margin-top: 10px;
}

@media (max-width: 790px) {
    .textInput {
        width: 300px;
    };
}

.buttonStyle {
    width: 100px;
    height: 56px; 
    margin: 10px;
    color: #fff;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,0.15);
    background-color: #008060;
    font-weight: 700;
    font-size: 1em;  
   
}

.buttonStyle:hover {
        text-decoration: none;
        background-color:#108043;

    }